<!DOCTYPE html>
<head>
<style>
abcd {
    width: 300px;
    margin: auto;
    border: 1px solid red;
}
</style>
 </head>


<p id="notice"><%= notice %></p>

<h1>Pizzas</h1>

<table>
  <thead>
    <tr>
      <th>Crust</th>
      <th>Recipe</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pizzas.each do |pizza| %>
    <div  class="abcd">
      <tr>
        <td><%= pizza.crust_id %></td>
        <td><%= pizza.recipe_id %></td>
        <td><%= link_to 'Show', pizza %></td>
        <td><%= link_to 'Edit', edit_pizza_path(pizza) %></td>
        <td><%= link_to 'Destroy', pizza, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    </div>
  </tbody>
</table>

<br>

<%= link_to 'New Pizza', new_pizza_path %>

</html>
