<p id="notice"><%= notice %></p>

<p>
  <strong>Crust:</strong>
  <%= @pizza.crust_id %>
</p>

<p>
  <strong>Recipe:</strong>
  <%= @pizza.recipe_id %>
</p>

<%= link_to 'Edit', edit_pizza_path(@pizza) %> |
<%= link_to 'Back', pizzas_path %>
<td> <%= button_to "Add pizza to cart", {:controller => "orders", :action =>"create", :customer_id => current_customer.try(:id), :pizza_id => @pizza.id, :delivery_id => 1, :method => :"post"} %> </td>
