<p id="notice"><%= notice %></p>

<p>
  <strong>Crust:</strong>
  <%= @pizza.crust_id %>
</p>

<p>
  <strong>Recipe:</strong>
  <%= @pizza.recipe_id %>
</p>

<%= link_to 'Edit', edit_pizza_path(@pizza) %> |
<%= link_to 'Back', pizzas_path %>
<%= form_tag(controller: 'orders', action: 'create', method: 'post') do %>
<%= hidden_field_tag :customer_id, current_customer.try(:id) %>
<%= hidden_field_tag :pizza_id, @pizza.id %>
<%= number_field_tag :delivery_id %>
<%= submit_tag "Add to cart" %>
<% end %>
